# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Monster\Desktop\Akdeniz University\3rd Year\Fall Semester\CSE351 Design Patterns\Design Patterns Term Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
